---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetLocaleGroupSkillsByLocaleCode xmlns="urn:ams.se:Taxonomy">
              <localeCode>2421</localeCode>
            </GetLocaleGroupSkillsByLocaleCode>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetLocaleGroupSkillsByLocaleCodeResponse
        xmlns="urn:ams.se:Taxonomy"><GetLocaleGroupSkillsByLocaleCodeResult><LocaleGroupSkill><LocaleCode>2421</LocaleCode><SkillID>870</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>2421</LocaleCode><SkillID>1970</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>2421</LocaleCode><SkillID>1987</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>2421</LocaleCode><SkillID>3052</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>2421</LocaleCode><SkillID>3258</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>2421</LocaleCode><SkillID>3415</SkillID></LocaleGroupSkill><LocaleGroupSkill><Loca[...]
