---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetAllExperiencesLast xmlns="urn:ams.se:Taxonomy">
              <languageId>502</languageId>
            </GetAllExperiencesLast>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllExperiencesLastResponse
        xmlns="urn:ams.se:Taxonomy"><GetAllExperiencesLastResult><OccupationExperienceLast><OccupationExperienceLastID>1</OccupationExperienceLastID><Term>-</Term><SortOrder>1</SortOrder></OccupationExperienceLast><OccupationExperienceLast><OccupationExperienceLastID>99</OccupationExperienceLastID><Term>Nuvarande
        yrke</Term><SortOrder>2</SortOrder></OccupationExperienceLast><OccupationExperienceLast><OccupationExperienceLastID>110</OccupationExperienceLastID><Term>2012</Term><SortOrder>3</SortOrder></OccupationExperienceLast><OccupationExperienceLast><OccupationExperienceLastID>109</OccupationExperienceLastID><Term>2011</Term><SortOrder>4</SortOrder></Occupa[...]
