---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetAllLocaleGroupSkills xmlns="urn:ams.se:Taxonomy">
            </GetAllLocaleGroupSkills>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllLocaleGroupSkillsResponse
        xmlns="urn:ams.se:Taxonomy"><GetAllLocaleGroupSkillsResult><LocaleGroupSkill><LocaleCode>0110</LocaleCode><SkillID>605726</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>0110</LocaleCode><SkillID>605727</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>0110</LocaleCode><SkillID>605728</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>0110</LocaleCode><SkillID>605729</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>0110</LocaleCode><SkillID>605730</SkillID></LocaleGroupSkill><LocaleGroupSkill><LocaleCode>0110</LocaleCode><SkillID>605732</SkillID></LocaleGroupSkill><LocaleGro[...]
