---
http_interactions:
- request:
    method: get
    uri: http://ontologi.arbetsformedlingen.se/ontology/v1/concept/related?concept=ruby%20on%20rails&type=skill
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"count":20,"concepts":[{"uuid":"035fc466-605e-5684-a106-a458929f27c6","name":"Ruby","type":"skill"},{"uuid":"8cfc81ee-663e-5178-b79d-5f67b7f9dad6","name":"Ruby
        on rails","type":"skill"}],"relations":[{"uuid":"2de572a0-2a64-55d7-affd-cc0c7f3b707e","name":"Redis","type":"skill","score":0.8073656558990479,"details":{"Word2Vec":0.8073656558990479}},{"uuid":"54c3787b-8c95-50dc-84f4-3dc5dbceed57","name":"Node.js","type":"skill","score":0.788690984249115,"details":{"Word2Vec":0.788690984249115}},{"uuid":"fe202ddf-45fd-589c-a552-a92d7cc2f2d3","name":"Mongodb","type":"skill","score":0.7849113345146179,"details":{"Word2Vec":0.7849113345146179}},{"uuid":"46976b80-e8fc-5746-bd7e-a1e7c9defd6c","name":"Lamp","type":"skill","score":0.7727433145046234,"details":{"Word2Vec":0.7727433145046234}},{"uuid":"861f2009-6d5e-5761-9859-edc5[...]
