---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetOccupationNamesByOccupationNameIdsVersion xmlns="urn:ams.se:Taxonomy">
              <languageId>502</languageId>
              <occupationNameIds>
                <int>7441</int>
                <int>5373</int>
              </occupationNameIds>
            </GetOccupationNamesByOccupationNameIdsVersion>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetOccupationNamesByOccupationNameIdsVersionResponse
        xmlns="urn:ams.se:Taxonomy"><GetOccupationNamesByOccupationNameIdsVersionResult><OccupationNameExt><OccupationNameID>7441</OccupationNameID><Term>2D-grafiker</Term><LocaleCode>2173</LocaleCode><Active>true</Active><VersionID>67</VersionID></OccupationNameExt><OccupationNameExt><OccupationNameID>5373</OccupationNameID><Term>Administrativ
        chef</Term><LocaleCode>1290</LocaleCode><Active>true</Active><VersionID>67</VersionID></OccupationNameExt></GetOccupationNamesByOccupationNameIdsVersionResult></GetOccupationNamesByOccupationNameIdsVersionResponse></soap:Body></soap:Envelope>
  recorded_at: Sun, 09 Dec 2018 20:44:58 GMT
recorded_with: VCR 3.0.3
