---
http_interactions:
- request:
    method: get
    uri: http://ontologi.arbetsformedlingen.se/ontology/v1/concept/watman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: ASCII-8BIT
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"/>
        <title>Error 404 </title>
        </head>
        <body>
        <h2>HTTP ERROR: 404</h2>
        <p>Problem accessing /ontology/v1/concept/watman. Reason:
        <pre>    Not Found</pre></p>
        <hr /><i><small>Powered by Jetty://</small></i>
        </body>
        </html>
  recorded_at: Sun, 09 Dec 2018 12:59:14 GMT
recorded_with: VCR 3.0.3
