---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetAllMunicipalityHomePages xmlns="urn:ams.se:Taxonomy">
            </GetAllMunicipalityHomePages>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllMunicipalityHomePagesResponse
        xmlns="urn:ams.se:Taxonomy"><GetAllMunicipalityHomePagesResult><MunicipalityHomePage><MunicipalityID>1</MunicipalityID><Url>http://www.upplandsvasby.se/</Url></MunicipalityHomePage><MunicipalityHomePage><MunicipalityID>2</MunicipalityID><Url>http://www.vallentuna.se/</Url></MunicipalityHomePage><MunicipalityHomePage><MunicipalityID>3</MunicipalityID><Url>http://www.osteraker.se/</Url></MunicipalityHomePage><MunicipalityHomePage><MunicipalityID>4</MunicipalityID><Url>http://www.varmdo.se/</Url></MunicipalityHomePage><MunicipalityHomePage><MunicipalityID>5</MunicipalityID><Url>http://www.jarfalla.se/</Url></Municipalit[...]
