---
http_interactions:
- request:
    method: post
    uri: https://api.arbetsformedlingen.se/af/v0/Occupation/wsoccupation.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetArticle xmlns="urn:ams.se:wsoccupation">
              <articleId>3</articleId>
            </GetArticle>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetArticleResponse
        xmlns="urn:ams.se:wsoccupation"><GetArticleResult><PublishDate>0001-01-01T00:00:00</PublishDate></GetArticleResult></GetArticleResponse></soap:Body></soap:Envelope>
  recorded_at: Sun, 09 Dec 2018 09:29:06 GMT
recorded_with: VCR 3.0.3
