---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetAllAIDOccupationNames xmlns="urn:ams.se:Taxonomy">
            </GetAllAIDOccupationNames>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllAIDOccupationNamesResponse
        xmlns="urn:ams.se:Taxonomy"><GetAllAIDOccupationNamesResult><AIDOccupationName><Label>101010</Label><OccupationNameID>6818</OccupationNameID></AIDOccupationName><AIDOccupationName><Label>101011</Label><OccupationNameID>6367</OccupationNameID></AIDOccupationName><AIDOccupationName><Label>101012</Label><OccupationNameID>6327</OccupationNameID></AIDOccupationName><AIDOccupationName><Label>101013</Label><OccupationNameID>5120</OccupationNameID></AIDOccupationName><AIDOccupationName><Label>101014</Label><OccupationNameID>5425</OccupationNameID></AIDOccupationName><AIDOccupationName><Label>102010</Label><OccupationNa[...]
