---
http_interactions:
- request:
    method: get
    uri: http://api.arbetsformedlingen.se/af/v0/platsannonser/matchning?anstallningstyp&antalrader=100&kommunid=0780&lanid&nyckelord&omradeid&organisationsnummer&sida=23&sokdatum&yrkesgruppid&yrkesid&yrkesomradeid
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Www-Authenticate:
      - Basic realm="CT"
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"matchningslista":{"antal_platsannonser":662,"antal_platsannonser_exakta":0,"antal_platsannonser_narliggande":0,"antal_platserTotal":0,"antal_sidor":7}}'
  recorded_at: Mon, 10 Sep 2018 13:07:40 GMT
recorded_with: VCR 3.0.3
