---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetAllLanguageLevels xmlns="urn:ams.se:Taxonomy">
              <languageId>502</languageId>
            </GetAllLanguageLevels>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetAllLanguageLevelsResponse
        xmlns="urn:ams.se:Taxonomy"><GetAllLanguageLevelsResult><LanguageLevel><LanguageLevelID>1</LanguageLevelID><Term>Lite</Term></LanguageLevel><LanguageLevel><LanguageLevelID>2</LanguageLevelID><Term>Bra</Term></LanguageLevel><LanguageLevel><LanguageLevelID>3</LanguageLevelID><Term>Mycket
        bra</Term></LanguageLevel><LanguageLevel><LanguageLevelID>4</LanguageLevelID><Term>Flytande</Term></LanguageLevel></GetAllLanguageLevelsResult></GetAllLanguageLevelsResponse></soap:Body></soap:Envelope>
  recorded_at: Sat, 08 Dec 2018 22:38:37 GMT
recorded_with: VCR 3.0.3
