---
http_interactions:
- request:
    method: post
    uri: http://api.arbetsformedlingen.se/taxonomi/v0/TaxonomiService.asmx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <soap12:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope">
          <soap12:Body>
            <GetLanguageIDByISO2Code xmlns="urn:ams.se:Taxonomy">
              <ISO2Code></ISO2Code>
            </GetLanguageIDByISO2Code>
          </soap12:Body>
        </soap12:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/soap+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://www.w3.org/2003/05/soap-envelope"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetLanguageIDByISO2CodeResponse
        xmlns="urn:ams.se:Taxonomy"><GetLanguageIDByISO2CodeResult>10265</GetLanguageIDByISO2CodeResult></GetLanguageIDByISO2CodeResponse></soap:Body></soap:Envelope>
  recorded_at: Sun, 09 Dec 2018 16:21:55 GMT
recorded_with: VCR 3.0.3
